---
pagination:
  data: pSEO
  size: 1
  alias: pageData
permalink: "services/{{ pageData.slug }}/index.html"
layout: landing-layout.html
---
<!-- Optional: Add dynamic content here based on {{ pageData.service }} or {{ pageData.city }} -->
